* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  background: #000;
  overflow-x: hidden;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
h1 {
  width: 100%;
  color: white;
  font-size: 48vw;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.container {
  width: 100%;
  height: 1200vh;
}


.wrapper-404 {
  position: absolute;
  top: 0;
  width: 400vw;
  height: 100vh;
  will-change: transform;
}

.card {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
}
#card-1 {
  top: 50%;
  left: 20%;
}
#card-2 {
  top: 25%;
  left: 40%;
}
#card-3 {
  top: 45%;
  left: 60%;
}
#card-4 {
  top: 15%;
  left: 80%;
}
.outro {
  position: absolute;
  top: 150vh;
  width: 100%;
  height: 100vh;
}
.outro h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: lighter;
  width: max-content;
  text-align: center;
}
@media (max-width: 900px) {
  .wrapper-404 {
    padding: 20em;
  }
}
